@font-face {
  font-family: "Figtree";
  src: url("./fonts/Figtree-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 600 800;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", "Tahoma", sans-serif;
    font-size: 16px;
  }

a:link,
a:active,
a:visited {
  color: hsl(0, 0%, 7%);
}

a:hover {
  background-color: hsl(47, 88%, 63%);
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

.blogpreviewcard {
    background-color: #fff;
    border: 1px solid hsl(0, 0%, 7%);
    max-height: 600px;
    max-width: 300px;
    box-shadow: 10px 10px;
    border-radius: 15px;
    padding: 20px;
}

.blogpreviewcard > div {
  width: 100%;
  margin-top: 20px;
}

.blogpreviewcard > div:nth-child(1) {
  margin-top: 0px;
}

#blogimage {
  max-width: 100%;
  border-radius: 15px;
}

#blogtag {
  background: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%);
  padding: 8px;
  border-radius: 8px;
}

.description {
  color: hsl(0, 0%, 50%);
}

.blogauthor {
  display: flex;
  align-items: center;
}

.blogauthor > img {
  max-height: 40px;
  margin-right: 10px;
}
